Repository michael-freling/claude-code-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'gofmt -l . | tee /dev/stderr | (! grep .)'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

      - id: go-test-coverage
        name: go test coverage (80% threshold)
        entry: scripts/check-coverage.sh
        language: system
        files: \.go$
        pass_filenames: false

feat: Show raw Claude text output in verbose mode
  internal/workflow/orchestrator.go
  internal/workflow/ui.go
Due: go-fmt, go-vet, go-test-coverage

fix: Auto-rerun cancelled CI jobs instead of treating them as failures
  internal/templates/workflow/fix-ci.tmpl
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/gh_runner.go
  internal/workflow/gh_runner_test.go
  internal/workflow/mock_runners.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-test-coverage

test: Add tests for displayCIFailure and filterE2EFailures to meet 90% coverage
  internal/workflow/checks_test.go
  internal/workflow/orchestrator_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: prompt for feedback when user rejects plan with n/no
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: prompt for feedback when user rejects plan with n/no (#30)
  internal/templates/workflow/fix-ci.tmpl
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/gh_runner.go
  internal/workflow/gh_runner_test.go
  internal/workflow/mock_runners.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-test-coverage

refactor: rename module from claude-code-config to claude-code-tools
  README.md
  cmd/generator/main.go
  cmd/generator/main_test.go
  cmd/workflow/main.go
  cmd/workflow/main_test.go
  go.mod
  internal/generator/template.go
  internal/workflow/prompts.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-coverage

refactor: rename module from claude-code-config to claude-code-tools (#32)
  README.md
  cmd/generator/main.go
  cmd/generator/main_test.go
  cmd/workflow/main.go
  cmd/workflow/main_test.go
  go.mod
  internal/generator/template.go
  internal/workflow/prompts.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-coverage

feat: Add commit list and strategy instructions to PR split template
  internal/templates/workflow/pr-split.tmpl
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/prompts.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-test-coverage

feat: Implement PR split workflow with proper git branch chains
  internal/workflow/gh_runner.go
  internal/workflow/gh_runner_test.go
  internal/workflow/git_runner.go
  internal/workflow/git_runner_test.go
  internal/workflow/mock_runners.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/parser.go
  internal/workflow/parser_test.go
  internal/workflow/pr.go
  internal/workflow/pr_split_manager.go
  internal/workflow/pr_split_manager_test.go
  internal/workflow/pr_test.go
  internal/workflow/schemas.go
  internal/workflow/types.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Improve code quality in PR split workflow components
  internal/workflow/gh_runner.go
  internal/workflow/git_runner.go
  internal/workflow/git_runner_test.go
  internal/workflow/mock_runners.go
  internal/workflow/orchestrator.go
  internal/workflow/parser.go
  internal/workflow/parser_test.go
  internal/workflow/pr.go
  internal/workflow/pr_split_manager.go
  internal/workflow/pr_split_manager_test.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Migrate hooks package to use internal/command (#34)
  cmd/hooks/main.go
  cmd/hooks/main_test.go
  internal/hooks/branch_protection_rule.go
  internal/hooks/branch_protection_rule_test.go
  internal/hooks/command_parser.go
  internal/hooks/command_parser_test.go
  internal/hooks/engine.go
  internal/hooks/engine_test.go
  internal/hooks/gh_helper.go
  internal/hooks/gh_helper_test.go
  internal/hooks/git_helper.go
  internal/hooks/git_helper_test.go
  internal/hooks/input.go
  internal/hooks/input_test.go
  internal/hooks/mock_helpers.go
  internal/hooks/noverify_rule.go
  internal/hooks/noverify_rule_test.go
  internal/hooks/pr_merge_rule.go
  internal/hooks/pr_merge_rule_test.go
  internal/hooks/push_rule.go
  internal/hooks/push_rule_test.go
  internal/hooks/result.go
  internal/hooks/result_test.go
  internal/hooks/rule.go
  internal/hooks/ruleset_rule.go
  internal/hooks/ruleset_rule_test.go
Due: go-fmt, go-vet, go-test-coverage

test: Improve test coverage for command and hooks packages (#34)
  .github/workflows/go.yml
  internal/hooks/command_parser_test.go
  internal/hooks/gh_helper_test.go
  internal/hooks/git_helper_test.go
Due: go-fmt, go-vet, go-test-coverage

chore: Remove accidentally committed test workflow files (#34)
  cmd/workflow/.claude/workflow/test-workflow/.lock
  cmd/workflow/.claude/workflow/test-workflow/state.json
Due: none

chore: Add coverage and .claude files to .gitignore (#34)
  .gitignore
  coverage.txt
  coverage_nomock.txt
Due: none

perf: Improve unit test performance from ~79s to ~9s
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/clock.go
  internal/workflow/clock_test.go
  internal/workflow/executor_test.go
  internal/workflow/ui.go
  internal/workflow/ui_test.go
Due: go-fmt, go-vet, go-test-coverage

test: Add unit tests for new command package methods
  internal/command/gh_test.go
  internal/command/git_test.go
Due: go-fmt, go-vet, go-test-coverage

test: Add test file 1 for PR split
  test_file1.txt
Due: none

test: Add E2E test for PR split functionality
  internal/workflow/pr_split_e2e_test.go
Due: go-fmt, go-vet, go-test-coverage

Revert "test: Add E2E test for PR split functionality"
  internal/workflow/pr_split_e2e_test.go
Due: go-fmt, go-vet, go-test-coverage

feat: Implement PR split workflow with proper git branch chains (#35)
  internal/command/gh.go
  internal/command/gh_test.go
  internal/command/git.go
  internal/command/git_test.go
  internal/command/mock_gh.go
  internal/command/mock_git.go
  internal/templates/workflow/pr-split.tmpl
  internal/workflow/mock_runners.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/parser.go
  internal/workflow/parser_test.go
  internal/workflow/pr.go
  internal/workflow/pr_split_manager.go
  internal/workflow/pr_split_manager_test.go
  internal/workflow/pr_test.go
  internal/workflow/prompts.go
  internal/workflow/prompts_test.go
  internal/workflow/schemas.go
  internal/workflow/types.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Extract NoPRError handling and improve code quality
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/orchestrator.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: Handle missing PR during CI checks with automatic PR creation
  go.mod
  internal/templates/workflow/create-pr.tmpl
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/prompts.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-coverage

perf: Optimize unit test execution time from ~8.5s to ~1.6s
  internal/workflow/checks_test.go
  internal/workflow/clock_test.go
  internal/workflow/executor_test.go
  internal/workflow/orchestrator_test.go
  internal/workflow/state.go
  internal/workflow/state_test.go
  internal/workflow/worktree_integration_test.go
  internal/workflow/worktree_test.go
Due: go-fmt, go-vet, go-test-coverage

perf: Reduce unit test execution time to under 1 second
  internal/workflow/checks_test.go
  internal/workflow/clock_test.go
  internal/workflow/executor_test.go
Due: go-fmt, go-vet, go-test-coverage

perf: Further optimize unit tests to ~1s execution time
  internal/workflow/checks_test.go
  internal/workflow/clock_test.go
  internal/workflow/executor_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: Handle missing PR during CI checks with automatic PR creation (#38)
  go.mod
  internal/templates/workflow/create-pr.tmpl
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/prompts.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-coverage

refactor: Remove excessive comments and reduce nesting in CI failure classifier
  internal/workflow/classifier.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Improve CI checker implementation with functional options pattern
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/orchestrator.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Improve code clarity and error handling in orchestrator
  internal/workflow/orchestrator.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Improve prompts implementation with structured data and cleaner code
  internal/templates/workflow/fix-ci.tmpl
  internal/workflow/prompts.go
  internal/workflow/prompts_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: Add label verification before applying to PRs
  internal/templates/workflow/create-pr.tmpl
Due: none

fix: Handle 'Prompt is too long' error with automatic retry (#45)
  internal/workflow/executor.go
  internal/workflow/executor_test.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/types.go
Due: go-fmt, go-vet, go-test-coverage

feat: Increase workflow description limit from 1000 to 32768 characters (#47)
  internal/workflow/limits.go
  internal/workflow/limits_test.go
  internal/workflow/validator.go
  internal/workflow/validator_test.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Use sentinel error pattern for empty childPRs validation
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/parser.go
Due: go-fmt, go-vet, go-test-coverage

feat: Add verbose prompt debugging output for workflow CLI
  cmd/workflow/main.go
  internal/workflow/executor.go
  internal/workflow/executor_test.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/state.go
  internal/workflow/state_test.go
Due: go-fmt, go-vet, go-test-coverage

fix: Add CI failure classification to prevent infinite retry loops
  internal/templates/workflow/fix-ci.tmpl
  internal/workflow/checks.go
  internal/workflow/checks_test.go
  internal/workflow/classifier.go
  internal/workflow/classifier_test.go
  internal/workflow/orchestrator.go
  internal/workflow/orchestrator_test.go
  internal/workflow/types.go
Due: go-fmt, go-vet, go-test-coverage

refactor: Remove redundant comments from workflow types
  internal/workflow/types.go
Due: go-fmt, go-vet, go-test-coverage
